<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    .target {background-color: red;}
  </style>
  <body>
    <h1 th:text="${title}"></h1>
    <ul>
      <th:block th:each="dto,state:${list}">
      <li th:class="${dto.sno%5==0}?'target'">
        <a th:href="@{/sample/exView(sno=${dto.sno})}">[[${dto}]]</a>
      </li>
      </th:block>
    </ul>
  </body>
</html>
